<div class='center well'>
	<center>
		<h4>
			My Account
		</h4>
	</center>
	Name : {{user.name}}
	<br/>
	Email : {{user.email}}
	<br/>
	<form>
		<div class='form-group'>
		    <label for='data_text'>Enter text</label>
		    <input type='text' class='form-control' id='data_text' placeholder='Text' ng-model='data.text' />
	  	</div>
	  	<button ng-click='sendText()' class='btn btn-primary'>
			Save Text
		</button>
		<div id='data-time'>
			{{data.time}}
		</div>
	</form>
	<center>
		<button ng-click='logout()' class='btn btn-danger'>
			Logout
		</button>
	</center>
</div>