<h3 style='padding:16px;margin:16px;'>
	<center class='text-primary'>
		Aspi.re Home Project for Internship 2016 - 2017 by Atish Sharma
	</center>
</h3>
<div class='center'>
	<center>
		<button id='google-login' ng-click='googleLogin()' class='loginBtn loginBtn--google' ng-click='googleLogin()'>
			Login with Google
		</button>
	</center>
</div>